UIWidgetBlueprint 854c84006815c33452a596ecebbd5f2a
    $::ObjectBlueprint
        $::Blueprint
            $::EntityBusData
                $::DataBusData
                    $::Asset
                        $::DataContainer
                        Name UI/Roster/New/SpecTrees/RosterSpecTreeRankRequirementsWidget
                    PropertyConnections::array
                        member(0)::PropertyConnection
                            Source 00000005
                            Target 00000001
                            SourceFieldId -673788305
                            TargetFieldId 602890055
                            Flags 2
                        member(1)::PropertyConnection
                            Source 00000008
                            Target 00000003
                            SourceFieldId -573025197
                            TargetFieldId -573025197
                            Flags 2
                        member(2)::PropertyConnection
                            Source 00000003
                            Target 00000007
                            SourceFieldId 1737593085
                            TargetFieldId -1512192206
                            Flags 2
                        member(3)::PropertyConnection
                            Source 0000000a
                            Target 00000002
                            SourceFieldId 936870923
                            TargetFieldId 408516922
                            Flags 18
                        member(4)::PropertyConnection
                            Source 00000006
                            Target 00000000
                            SourceFieldId -673788305
                            TargetFieldId 602890055
                            Flags 2
                        member(5)::PropertyConnection
                            Source 00000007
                            Target 00000005
                            SourceFieldId -1311201789
                            TargetFieldId 2088651488
                            Flags 2
                        member(6)::PropertyConnection
                            Source 00000007
                            Target 0000000a
                            SourceFieldId -1311201789
                            TargetFieldId 5685821
                            Flags 2
                        member(7)::PropertyConnection
                            Source 00000007
                            Target 00000006
                            SourceFieldId -25877574
                            TargetFieldId 2088651489
                            Flags 2
                        member(8)::PropertyConnection
                            Source 00000008
                            Target 00000005
                            SourceFieldId -737210254
                            TargetFieldId 2088651489
                            Flags 2
                        member(9)::PropertyConnection
                            Source 00000008
                            Target 00000009
                            SourceFieldId -737210254
                            TargetFieldId 5685821
                            Flags 2
                        member(10)::PropertyConnection
                            Source 00000009
                            Target 00000002
                            SourceFieldId 936870923
                            TargetFieldId 1144276871
                            Flags 18
                    LinkConnections *nullArray*
                    Interface 00000008
                    Flags 14
                EventConnections *nullArray*
        Object 00000004
BFUIElementTextFieldEntityData 00000000
    $::BFUIElementEntityData
        $::UIElementEntityData
            $::EntityData
                $::GameObjectData
                    $::DataBusPeer
                        $::GameDataContainer
                            $::DataContainer
                        Flags 134217728
            InstanceName Requires Rank X
            UIElementTransform::UIElementTransform
                Rotation::Vec3
                    x 0.0
                    y 0.0
                    z 0.0
                RotationPivot::Vec3
                    x 0.5
                    y 0.5
                    z 0.0
                Z 0.0
            Color::Vec3
                x 1.0
                y 1.0
                z 1.0
            Transform::LinearTransform
                right::Vec3
                    x 1.0
                    y 0.0
                    z 0.0
                up::Vec3
                    x 0.0
                    y 1.0
                    z 0.0
                forward::Vec3
                    x 0.0
                    y 0.0
                    z 1.0
                trans::Vec3
                    x 0.0
                    y 0.0
                    z 0.0
            InstanceNameHash 3823225333
            Size::Vec2
                x 256.0
                y 22.0
            LayoutMode UILayoutMode_AnchorOffset
            Offset::UIElementOffset
                X 0.0
                Y 0.0
            Anchor::UIElementAnchor
                X 0.0
                Y 0.0
            Position::UIElementOffset
                X 0.0
                Y 0.0
            Expansion::UIElementRectExpansion
                X 0.0
                Y 0.0
                Width 0.0
                Height 0.0
            Alpha 1.0
            Visible True
        CustomLayout::BFUICustomLayout
            SnapSettings::BFUISnapLayoutSettings
                Left BFUISnapLayoutMode_Default
                Right BFUISnapLayoutMode_Default
                Top BFUISnapLayoutMode_Default
                Bottom BFUISnapLayoutMode_Default
            OverrideDefaultLayout False
    Text::BFUILegacyElementText
        Sid *nullString*
        VerticalAlignment UIElementAlignment_Top
        HorizonalAlignment UIElementAlignment_Left
        HorizonalAlignmentForRTL UIElementAlignment_Right
        Wordwrap False
    FontStyle UI/Fonts/StylesCasablanca/BF-Text_Bold_18px/fc49781a8b41404483b85f844931ee4a
    FontEffect *nullGuid*
    TextOffset 0.0
    AutoAdjustLeftPadding 5.0
    AutoAdjustRightPadding 5.0
    AutoScroll UIAutoScroll_None
    FieldText *nullString*
    LocalizedText *nullGuid*
    RowSpacing 0.0
    BlendMode UIBlendMode_AlphaBlend
    ZOrder 0
    AutoAdjustWidth False
    ClipToRect False
    Password False
    WordWrap False
    PixelSnapping True
    UseColorAsOverlay False
    OverrideBlendMode False
BFUIElementTextFieldEntityData 00000001
    $::BFUIElementEntityData
        $::UIElementEntityData
            $::EntityData
                $::GameObjectData
                    $::DataBusPeer
                        $::GameDataContainer
                            $::DataContainer
                        Flags 134217728
            InstanceName X/Y XP
            UIElementTransform::UIElementTransform
                Rotation::Vec3
                    x 0.0
                    y 0.0
                    z 0.0
                RotationPivot::Vec3
                    x 0.5
                    y 0.5
                    z 0.0
                Z 0.0
            Color::Vec3
                x 1.0
                y 1.0
                z 1.0
            Transform::LinearTransform
                right::Vec3
                    x 1.0
                    y 0.0
                    z 0.0
                up::Vec3
                    x 0.0
                    y 1.0
                    z 0.0
                forward::Vec3
                    x 0.0
                    y 0.0
                    z 1.0
                trans::Vec3
                    x 0.0
                    y 0.0
                    z 0.0
            InstanceNameHash 2275876195
            Size::Vec2
                x 200.0
                y 22.0
            LayoutMode UILayoutMode_AnchorOffset
            Offset::UIElementOffset
                X 0.0
                Y 0.0
            Anchor::UIElementAnchor
                X 1.0
                Y 0.0
            Position::UIElementOffset
                X 0.0
                Y 0.0
            Expansion::UIElementRectExpansion
                X 0.0
                Y 0.0
                Width 0.0
                Height 0.0
            Alpha 0.800000011921
            Visible True
        CustomLayout::BFUICustomLayout
            SnapSettings::BFUISnapLayoutSettings
                Left BFUISnapLayoutMode_Default
                Right BFUISnapLayoutMode_Default
                Top BFUISnapLayoutMode_Default
                Bottom BFUISnapLayoutMode_Default
            OverrideDefaultLayout False
    Text::BFUILegacyElementText
        Sid *nullString*
        VerticalAlignment UIElementAlignment_Top
        HorizonalAlignment UIElementAlignment_Right
        HorizonalAlignmentForRTL UIElementAlignment_Right
        Wordwrap False
    FontStyle UI/Fonts/StylesCasablanca/BF-Text_Light_18px/856bb14b17e6cb4ea001d73f0ad66573
    FontEffect *nullGuid*
    TextOffset 0.0
    AutoAdjustLeftPadding 5.0
    AutoAdjustRightPadding 5.0
    AutoScroll UIAutoScroll_None
    FieldText *nullString*
    LocalizedText *nullGuid*
    RowSpacing 0.0
    BlendMode UIBlendMode_AlphaBlend
    ZOrder 0
    AutoAdjustWidth False
    ClipToRect False
    Password False
    WordWrap False
    PixelSnapping True
    UseColorAsOverlay False
    OverrideBlendMode False
UIElementWidgetReferenceEntityData 00000002
    $::LogicReferenceObjectData
        $::ReferenceObjectData
            $::GameObjectData
                $::DataBusPeer
                    $::GameDataContainer
                        $::DataContainer
                    Flags 134217728
            Blueprint UI/Shared/Widgets/CasablancaProgressBar/038a7acce97af04288dbd013b42719f5
            BlueprintTransform::LinearTransform
                right::Vec3
                    x 1.0
                    y 0.0
                    z 0.0
                up::Vec3
                    x 0.0
                    y 1.0
                    z 0.0
                forward::Vec3
                    x 0.0
                    y 0.0
                    z 1.0
                trans::Vec3
                    x 0.0
                    y 0.0
                    z 0.0
            ObjectVariation *nullGuid*
            StreamRealm StreamRealm_None
            RadiosityTypeOverride RadiosityTypeOverride_None
            LightmapResolutionScale 0
            RenderingOverrides::RenderingOverrides
                ShadowEnable RenderingOverride_Inherit
                SunShadowEnable RenderingOverride_Inherit
                LocalShadowEnable RenderingOverride_Inherit
                DynamicReflectionEnable RenderingOverride_Inherit
                StaticReflectionEnable RenderingOverride_Inherit
                DistantShadowCacheEnable RenderingOverride_Inherit
                RenderLateEnable RenderingOverride_Inherit
                RootShaderEffect RenderingOverride_Inherit
            ForceSeparateEnlightenSystem False
            CastSunShadowEnable True
            CastReflectionEnable True
            CastEnvmapEnable True
            Excluded False
            CreateIndestructibleEntity False
        LocalPlayerId LocalPlayerId_Invalid
        SubRealm SubRealm_All
    UIElementTransform::UIElementTransform
        Rotation::Vec3
            x 0.0
            y 0.0
            z 0.0
        RotationPivot::Vec3
            x 0.5
            y 0.5
            z 0.0
        Z 0.0
    Color::Vec3
        x 1.0
        y 1.0
        z 1.0
    InstanceName CasablancaProgressBar
    InstanceNameHash 3126784314
    InclusionSettings::UIElementInclusionSettings
        CustomInclusionCritera *nullArray*
        IsSingleplayerLayer True
        IsMultiplayerLayer True
        IsSDLayer True
        IsHDLayer True
    Size::Vec2
        x 420.0
        y 8.0
    LayoutMode UILayoutMode_PositionExpansion
    Offset::UIElementOffset
        X 0.0
        Y 0.0
    Anchor::UIElementAnchor
        X 0.5
        Y 1.0
    Position::UIElementOffset
        X 0.0
        Y 30.0
    Expansion::UIElementRectExpansion
        X 0.0
        Y 0.0
        Width 1.0
        Height 1.0
    Alpha 1.0
    CodeAccessIdentifier *nullString*
    UseElementSize True
BFUIGetSpecTreeItemInfoEntityData 00000003
    $::EntityData
        $::GameObjectData
            $::DataBusPeer
                $::GameDataContainer
                    $::DataContainer
                Flags 153926118
    Realm Realm_Client
    SpecTreeItem *nullGuid*
BFUIWidgetEntityData 00000004
    $::UIWidgetEntityData
        $::EntityData
            $::GameObjectData
                $::DataBusPeer
                    $::GameDataContainer
                        $::DataContainer
                    Flags 180596146
        Size::UIElementSize
            X 420.0
            Y 39.0
        Layers::array
            member(0) 0000000b
        TextureMappings *nullArray*
        Components::array
            member(0) 00000005
            member(1) 00000003
            member(2) 00000007
            member(3) 0000000a
            member(4) 00000006
            member(5) 00000009
        Visible True
    CustomLayout::BFUICustomLayout
        SnapSettings::BFUISnapLayoutSettings
            Left BFUISnapLayoutMode_Default
            Right BFUISnapLayoutMode_Default
            Top BFUISnapLayoutMode_Default
            Bottom BFUISnapLayoutMode_Default
        OverrideDefaultLayout False
    SortBasedOnZ False
    UseStencilMask False
    UseInputStencilMask False
    InputEnabled True
CheckedLocalizedStringEntityData 00000005
    $::LocalizedStringEntityBaseData
        $::EntityData
            $::GameObjectData
                $::DataBusPeer
                    $::GameDataContainer
                        $::DataContainer
                    Flags 157718556
        Arguments::array
            member(0) LocalizedStringArgumentType_Integer
            member(1) LocalizedStringArgumentType_Integer
        ArgumentHashes::array
            member(0) 2088651489
            member(1) 2088651488
    DynamicStringId *nullGuid*
    DebugString *nullString*
    Sid ID_P_SPECIALIZATION_RANK_PROGRESS
CheckedLocalizedStringEntityData 00000006
    $::LocalizedStringEntityBaseData
        $::EntityData
            $::GameObjectData
                $::DataBusPeer
                    $::GameDataContainer
                        $::DataContainer
                    Flags 156362527
        Arguments::array
            member(0) LocalizedStringArgumentType_Integer
        ArgumentHashes::array
            member(0) 2088651489
    DynamicStringId *nullGuid*
    DebugString *nullString*
    Sid ID_P_SPECIALIZATION_RANK_REQUIRED
DataSourceQueryEntityData 00000007
    $::EntityData
        $::GameObjectData
            $::DataBusPeer
                $::GameDataContainer
                    $::DataContainer
                Flags 145471054
    Realm Realm_Client
    InData *nullGuid*
    ArrayIndex 0
InterfaceDescriptorData 00000008
    $::DynamicDataContainer
        $::DataContainer
        Fields::array
            member(0)::DataField
                Value *nullString*
                ValueRef *nullGuid*
                Id -573025197
                AccessType FieldAccessType_Target
            member(1)::DataField
                Value *nullString*
                ValueRef *nullGuid*
                Id -737210254
                AccessType FieldAccessType_Target
    InputEvents *nullArray*
    OutputEvents *nullArray*
    InputLinks *nullArray*
    OutputLinks *nullArray*
PropertyCastEntityData 00000009
    $::EntityData
        $::GameObjectData
            $::DataBusPeer
                $::GameDataContainer
                    $::DataContainer
                Flags 148445725
    Realm Realm_Client
    Precision -5
    FloatValue 0.0
    IntValue 0
    UintValue 0
    StringValue *nullString*
    IntToChar False
    BoolValue False
PropertyCastEntityData 0000000a
    $::EntityData
        $::GameObjectData
            $::DataBusPeer
                $::GameDataContainer
                    $::DataContainer
                Flags 148011357
    Realm Realm_Client
    Precision -5
    FloatValue 0.0
    IntValue 0
    UintValue 0
    StringValue *nullString*
    IntToChar False
    BoolValue False
UIElementLayerEntityData 0000000b
    $::EntityData
        $::GameObjectData
            $::DataBusPeer
                $::GameDataContainer
                    $::DataContainer
                Flags 0
    LayerName New Layer
    Elements::array
        member(0) 00000000
        member(1) 00000001
        member(2) 00000002
    InclusionSettings::UIElementInclusionSettings
        CustomInclusionCritera *nullArray*
        IsSingleplayerLayer True
        IsMultiplayerLayer True
        IsSDLayer True
        IsHDLayer True
    Visible True
